<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rj.vpn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:persistent="true">
        <!--
        <activity
            android:name="com.sangfor.ssl.ui.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <!-- VpnService服务 -->
        <service
            android:name="com.sangfor.ssl.l3vpn.service.EasyappSvpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="com.sangfor.ssl.l3vpn.service.EasyappSvpnService" />
            </intent-filter>
        </service>
    </application>

</manifest>
